* {
    box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
}
main, header, footer {
    width: 55em;
    margin: 1em auto;
}

header,footer {
    background-color: hsl(200,50%,50%);
    height: 6em;
}

.fill {
    object-fit: cover;
    width: 100%;
    height: 10em;

}

header, nav {
    text-align: center;
}

footer p {
    padding-top: 5px;
    font-size: 10px;
}

.flexbox {
  display:flex;
  flex-flow:row;
  -webkit-flex-flow:row;
}

.center {
  background-color:#eee;
  flex:4;
}
.left {
  background-color:hsl(200,90%,90%);
  flex:1;
}







@media (max-width:600px) {
  .flexbox {
    flex-flow:column;
    -webkit-flex-flow:column;
  }

  aside.left {
    order:2;
  }

  aside.right {
    order:3;
  }

  header, footer {
    height:2em;
  }
}
